body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    text-align: center;
    margin-top: 50px;
}

.container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    margin-bottom: 15px;
}

input, select, button {
    padding: 10px;
    margin-top: 10px;
    width: 80%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background: #fff;
    padding: 10px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
}

li span {
    flex: 1;
    cursor: pointer;
    text-align: left;
}

li span.concluida {
    text-decoration: line-through;
    color: gray;
}

li button {
    margin-left: 5px;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 16px;
}

hr {
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid #ddd;
}
